* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: #181f2a;
  text-align: center;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif; }

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  color: inherit;
  border: none;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  padding: 0.75rem 5rem;
  border-radius: 20px;
  outline: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer; }
  .btn:hover {
    filter: brightness(1) contrast(150%); }

.padding {
  padding: 0 8vw; }

.header {
  background: #1c2431;
  padding-top: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    height: 1.75rem; }

.nav-bar {
  display: flex; }
  .nav-bar__li {
    padding: 1rem; }
    .nav-bar__li a {
      transition: all 0.3s ease-in-out; }
      .nav-bar__li a:hover {
        text-decoration: underline;
        font-weight: 700; }

.hero {
  background: url(/images/bg-curvy-mobile.svg), #1c2431;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain; }
  .hero__img {
    width: 80vw;
    height: auto;
    margin: 1rem 0; }
  .hero__title {
    padding: 1rem 0;
    line-height: 1.3;
    font-size: 1.6rem; }
  .hero__btn {
    margin: 1.5rem 0; }

.grid__item {
  margin: 5rem 0; }

.grid__title {
  margin: 1rem 0; }

.stay-prod {
  text-align: left; }
  .stay-prod__img {
    width: 80vw;
    height: auto; }
  .stay-prod__title {
    margin: 1rem 0; }
  .stay-prod__link {
    color: #65e2d9;
    transition: all 0.3s ease-in-out;
    position: relative; }
    .stay-prod__link::after {
      position: absolute;
      width: 100%;
      height: 2px;
      content: "";
      background: #65e2d9;
      bottom: 0;
      left: 0; }
      .stay-prod__link::after:hover {
        background: #fff; }
    .stay-prod__link:hover {
      color: #fff; }
  .stay-prod p {
    margin: 1rem 0; }

.testimonials {
  text-align: left;
  padding: 7rem 0;
  position: relative; }
  .testimonials__quote-img {
    position: absolute;
    left: 4%;
    top: 12%; }
  .testimonials__item {
    background-color: #202a3c;
    margin: 1.5rem 2.5rem;
    padding: 1.5rem; }
  .testimonials__profile {
    display: flex;
    align-items: center;
    margin-top: 1rem; }
  .testimonials__img {
    border-radius: 50%;
    width: 2rem;
    margin-right: 1rem; }
  .testimonials__name {
    font-size: 0.8rem;
    letter-spacing: 1px; }
  .testimonials__title {
    font-size: 0.6rem;
    font-weight: 400; }

.cta {
  background: #1c2431;
  margin: 0 1.5rem;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  position: relative; }
  .cta__text {
    margin: 1rem 0; }
  .cta__email {
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 0.9rem;
    margin-bottom: 1.5rem; }
  .cta__btn {
    width: 100%; }
  .cta--invalid {
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-left: 1rem;
    color: #ff4242;
    display: none; }

.footer {
  text-align: left;
  background: #0b1523;
  margin-top: -7rem;
  padding-top: 15rem;
  padding-bottom: 5vh; }
  .footer__contact {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0; }
    .footer__contact p {
      margin-left: 1rem; }
  .footer__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
    .footer__links a {
      margin: 0.5rem 0;
      transition: all 0.3s ease-in-out; }
      .footer__links a:hover {
        font-weight: 700; }
  .footer__socials {
    display: flex;
    justify-content: center; }
    .footer__socials a {
      border: 1px solid #fff;
      border-radius: 50%;
      margin: 0.3rem;
      transition: all 0.4s ease-in-out; }
      .footer__socials a:hover {
        color: #65e2d9;
        border: 1px solid #65e2d9; }
      .footer__socials a i {
        padding: 0.5rem; }

@media (min-width: 850px) {
  .header {
    background: #1c2431; }
    .header__logo {
      height: auto; }
  .hero {
    background: url(/images/bg-curvy-desktop.svg), #1c2431;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding: 0;
    padding-bottom: 5rem; }
    .hero__img {
      width: 50vw;
      max-width: 700px; }
    .hero__title {
      font-size: 2.5rem; }
    .hero__text {
      font-size: 1rem; }
    .hero__desc {
      max-width: 700px;
      margin: auto; }
  .grid {
    display: grid;
    margin: auto;
    padding: 0;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1000px; }
    .grid__item {
      margin: 0;
      padding: 3rem; }
  .stay-prod {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0; }
    .stay-prod__img {
      width: 40vw;
      max-width: 1000px;
      margin-right: 4rem; }
    .stay-prod__text {
      max-width: 450px; }
    .stay-prod__title {
      font-size: 2.5rem; }
  .testimonials {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 3rem; }
    .testimonials__quote-img {
      position: absolute;
      top: 20%;
      left: 17%; }
    .testimonials__item {
      margin: 0 1rem;
      padding: 1.5rem;
      max-width: 350px; }
  .cta {
    width: 70vw;
    max-width: 700px;
    margin: auto;
    margin-bottom: 4rem;
    padding: 2rem 3rem; }
    .cta__inputs {
      display: flex;
      align-items: center; }
    .cta__email {
      flex: 2;
      outline: none; }
    .cta__btn {
      flex: 1;
      padding: 0.75rem 0; }
    .cta__email {
      margin-right: 1rem;
      margin-bottom: 0; }
  .fylo-info {
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .footer {
    margin-top: -11rem; }
    .footer__contact {
      flex: 1; }
      .footer__contact p {
        padding-right: 2rem; }
    .footer__contact-info {
      flex: 1; }
    .footer__links {
      flex: 0.5; }
    .footer__socials {
      flex: 0.5; } }
